.contenedor {
    background-color: white;
    padding: 2em;
    max-height: 70vh;
    border-radius: 5px;
    overflow-y: auto;
    width: 60vw;
}

.date {
    color: gray;
    font-weight: 600;
}

.carousel-item img {
    object-fit: contain;
    object-position: center;
    height: 45vh;
    overflow: hidden;
}

.images > * {
    display: block;
    margin: auto;
}

.paragraph {
    margin: 0;
    text-align: justify;
}

a {
    display: inline-block !important;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 768px) {
    .contenedor {
        background-color: white;
        padding: 2em;
        max-height: 80vh;
        border-radius: 5px;
        overflow-y: auto;
        width: 100%;

    }
}