  <div class="about gap-6 justify-center">
    <img id="selfie" class="p-5 grow-1 shrink-1 basis-auto" src="assets/img/selfie.jpg">
    <div class="p-5 min-w-3xs grow-1 shrink-1 basis-auto content-center h-3/4 card">
      <div class="flex justify-end gap-3">
        <img src="assets/img/linkedin.svg" class="relative rounded-full p-2 bg-white">
        <div class="relative rounded-3xl pr-4 pl-4 pt-2 pb-2 bg-white">
          <div (click)="openResumeOptions()" class="cursor-pointer">{{translate.sections.cv}}</div>
          <div [hidden]="!isResumeOptionsOpen" #resumeOptions id="resumeOptions" class="absolute">
            <div class="option" (click)="downloadResume('en')">{{translate.resume.en}}</div>
            <hr>
            <div class="option" (click)="downloadResume('es')">{{translate.resume.es}}</div>
          </div>
        </div>
      </div>
      <h1 class="text-5xl font-bold mb-1">{{translate.about.p1}}</h1>
      <h1 class="text-2xl mb-1">{{translate.about.p2}}</h1>
      <div class="space-y-3">
        <p class="text-base">{{translate.about.p3}}</p>
        <p class="text-base">{{translate.about.p4}}</p>
        <p class="text-base">{{translate.about.p5}}</p>
      </div>
    </div>
  </div>
