<section class="contenedor">
    <div>
        <h1>Cobli</h1>
        <div class="d-flex row justify-content-between mb-2">
            <div class="max-content">
                <p class="paragraph">Cobli, es mi Trabajo de Fin de Grado, se trata de una aplicación web diseñada para para ayudar a usuarios con <strong>daltonismo</strong> que se dedican al mundo del arte. El <strong>objetivo</strong> de esta app es facilitar
                    diversos procesos como el análisis de colores, la creación de paletas y la orientación sobre tonalidades, de una manera más accesible y sencilla.
                    <br><br>
                    Esta herramienta, no se limita solo a personas con daltonismo. Cualquier usuario puede utilizar esta plataforma para aprovechar al máximo sus características y beneficios.
                    <br><a href="https://rua.ua.es/dspace/handle/10045/135515">Memoria</a>
                    - Calificación: 10/10
                </p>
                <div class="mt-3">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/LCrOJIfWrko" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
            </div>
            <div class="images">
                <img class="mb-2 logo" src="assets/img/projects/logotipo.png">
                <img class="interface" src="assets/img/projects/interfaces.png">
            </div>
        </div>
        
    </div>
</section>