.interface {
    width: 90%;
}

.contenedor {
    background-color: white;
    padding: 7em;
    width: 100%;
    height: 92vh;
}

.logo {
    width: 250px;
    margin-bottom: 20px;

}

.images {
    width: 800px;
}

.images > * {
    display: block;
    margin: auto;
}

.paragraph {
    width: 800px;
    margin: 0;
    text-align: justify;
    font-size: 18px;
}

.video {
    width: 100%;
    height: 100%;
  }