select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: transparent;
    background-image: none;
    border: none;
    outline: none;
    box-shadow: none;
    padding: 2px;
  }
  
.selector {
    width: max-content;
}
  
.p-3 {
    padding-right: 30px !important;
}

option {
    padding: 10px !important;
}

nav {
    height: 8vh;
    justify-content: end;
    display: flex;
}

img {
    width: 24px;
}