<section class="bento p-5">
  <div class="relative">
    <h2 class="absolute">Configurador silos</h2>
    <div class="flex images">
    </div>
    <div class="flex">
      <p>tag1</p><p>tag2</p>
    </div>
  </div>
  <div class="relative">
    <h2 class="absolute">Configurador silos</h2>
    <div class="flex images">
    </div>
    <div class="flex">
      <p>tag1</p><p>tag2</p>
    </div>
  </div>
  <div class="relative">
    <h2 class="absolute">Configurador silos</h2>
    <div class="flex images">
    </div>
    <div class="flex">
      <p>tag1</p><p>tag2</p>
    </div>
  </div>
  <div class="relative">
    <h2 class="absolute">Configurador silos</h2>
    <div class="flex images">
    </div>
    <div class="flex">
      <p>tag1</p><p>tag2</p>
    </div>
  </div>
  <div class="relative flex p-5 justify-between">
    <div class="flex flex-col justify-end">
      <h2 class="text-3xl font-bold mb-3">Rhains of Radianour</h2>
      <p class="text-2xl">Diseñador 3d</p>
      <div class="flex">
        <p>TFG</p><p></p>
      </div>
    </div>
    <div class="flex items-center">
      <img src="assets/img/projects/tiempo.png"/>
      <img src="assets/img/projects/mobile.png"/>
    </div>
  </div>
  <div class="relative flex p-5 justify-between">
    <div class="flex flex-col justify-end">
      <h2 class="text-3xl font-bold mb-3">Mobbler</h2>
      <p class="text-2xl">Diseñador 3d</p>
      <div class="flex">
        <p>TFG</p><p></p>
      </div>
    </div>
    <div class="flex items-center">
      <img src="assets/img/projects/tiempo.png"/>
      <img src="assets/img/projects/mobile.png"/>
    </div>
  </div>
  <div class="relative flex p-5 justify-between">
    <div class="flex flex-col justify-end">
      <h2 class="text-3xl font-bold mb-3">Tiempo</h2>
      <p class="text-2xl">Aplicación de tiempo</p>
      <div class="flex">
        <p>TFG</p><p></p>
      </div>
    </div>
    <div class="flex items-center">
      <img src="assets/img/projects/tiempo.png"/>
      <img src="assets/img/projects/mobile.png"/>
    </div>
  </div>
  <div class="relative flex p-5">
    <div>
      <h2 class="text-3xl font-bold mb-3">Cobli</h2>
      <p class="text-2xl">Herramienta de diseño para daltónicos</p>
      <div class="flex">
        <p>TFG</p><p></p>
      </div>
    </div>
    <div class="flex w-2xl gap-5">
      <div class="flex flex-col justify-center gap-5 items-center">
        <img class="shadow" src="assets/img/projects/cobli_page0.png"/>
        <img class="shadow" src="assets/img/projects/cobli_page1.png"/>
      </div>
      <div class="flex flex-col justify-center gap-5 items-center">
        <img class="shadow" src="assets/img/projects/cobli_page2.png"/>
        <img class="shadow" src="assets/img/projects/cobli_page3.png"/>
        <img class="shadow" src="assets/img/projects/cobli_page4.png"/>
      </div>
    </div>
  </div>
</section>
