<section class="contenedor">
    <div>
        <h1>Mobbler</h1>
        <div class="d-flex row justify-content-between mb-2">
            <div class="max-content">
                <p class="paragraph">Proyecto ABP (aprendizaje basado en proyectos) realizado en 4º de carrera.
                    Aplicación basada en diseño de interiores 3D para empresas dedicadas a la venta de mobiliario.
                    <br>Rol: <strong>FullStack</strong>
                    <br>Tareas:
                </p>
                <ul>
                    <li>Diseño de <a hred="https://www.figma.com/file/Rikybl8BCN424QJ5sGLox6/Interfaces">mockups</a> (Figma)</li>
                    <li>Implementación de interfaces</li>
                    <li>Desarrollo de un chatbot (RASA)</li>
                    <li>Modelado 3D (Blender)</li>
                    <li>Motor gráfico (Threejs)</li>
                    <li>Creación de <a hred="https://github.com/lauragh/mobbler_abp/blob/main/backend/helpers/generaDatos.js">script</a> generador datos sintéticos</li>
                    <li>Conexión de la base de datos y API REST</li>
                    <li>Desarrollo de dashboards (PowerBi)</li>
                </ul>
            </div>
            <div class="images">
                <div class="lightbox">
                    <div class="row">
                      <div class="col-lg-6">
                        <img
                          src="https://mdbcdn.b-cdn.net/img/Photos/Thumbnails/Slides/1.webp"
                          data-mdb-img="https://mdbcdn.b-cdn.net/img/Photos/Slides/1.webp"
                          alt="Table Full of Spices"
                          class="w-100 mb-2 mb-md-4 shadow-1-strong rounded"
                        />
                        <img
                          src="https://mdbcdn.b-cdn.net/img/Photos/Thumbnails/Square/1.webp"
                          data-mdb-img="https://mdbcdn.b-cdn.net/img/Photos/Square/1.webp"
                          alt="Coconut with Strawberries"
                          class="w-100 shadow-1-strong rounded"
                        />
                      </div>
                      <div class="col-lg-6">
                        <img
                          src="https://mdbcdn.b-cdn.net/img/Photos/Thumbnails/Vertical/1.webp"
                          data-mdb-img="https://mdbcdn.b-cdn.net/img/Photos/Vertical/1.webp"
                          alt="Dark Roast Iced Coffee"
                          class="w-100 shadow-1-strong rounded"
                        />
                      </div>
                    </div>
                  </div>                
            </div>
        </div>
        
    </div>
</section>