.contenedor {
    background-color: white;
    padding: 2em;
    height: 70vh;
}

.images {
    width: 800px;
}

.images > * {
    display: block;
    margin: auto;
}

.paragraph {
    width: 800px;
    margin: 0;
    text-align: justify;
    font-size: 18px;
}

.interface {
    width: 90%;
}