#dark {
    background-color: #323232;
}

#light {
    background-color: white;
}

.lightColorText {
    color: white ;
}

.lightColorText > a {
    color: white !important;
}

.darkColorText {
    color: black ;
}

.darkColorText > a {
    color: white !important;
}

#changeTheme {
    float: right;
}