main {
    background-color: rgba(255, 255, 255, 0);
}
/* Avatar */
#avatar {
    bottom: 0;
    position: absolute;
    z-index: 1;
    width: 20%;
    opacity: 0;
}

.fadeInAnimation {
    animation: fadeIn 2s ease-in-out forwards;
}

.fadeOutAnimation {
    animation: fadeOut 1s ease-in-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

/*Avatar text*/

#wordSection {
    position: relative;
    background-color: white;
    max-width: 500px;
    border-radius: 15px;
    padding: 30px;
    position: absolute;
    bottom: 5%;
    left: 20%;
    z-index: 1;
    justify-content: center;
    display: flex;
    align-items: center;

}

#word {
    margin: auto;
    color: black;
    font-family: 'Poppins';
    font-size: 22px;
    font-weight: 500;
}

/* Menu icons */
.icons {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 600px;
}

.icon {
    width: max-content;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 10px;
    height: max-content;
    border-radius: 25px;
    border: 5px transparent solid;
    margin: auto;
}

.title {
    width: max-content;
    background-color: rgba(71, 50, 50, 0.7);
    color: white;
    font-weight: 500;
    padding: 5px 10px;
    height: max-content;
    border-radius: 15px;
    border: 5px transparent solid;
    margin: auto;
}

.iconImg:hover {
    background-color: rgb(255, 255, 255);
    border: 5px rgba(71, 50, 50, 0.7) solid;
}

.icons div:nth-child(1) div:nth-child(1) img{
    width: 45px;
}

.icons div div img {
    width: 50px;
    align-self: center;
    display: block;
    margin: auto;
    padding: 5px;
}

.disappear-l .icon {
    animation: disappearToLeft 1s forwards;
}

@keyframes disappearToLeft {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    50% {
        visibility: hidden;
        pointer-events: none;
    }
    100% {
        transform: translateX(-800%);
        opacity: 0;
        pointer-events: none;
    }
}

.disappear-r .icon {
    animation: disappearToRight 1s forwards;
}
  
@keyframes disappearToRight {
    0% {
      transform: translateX(0);
      opacity: 1;
    }
    50% {
        visibility: hidden;
        pointer-events: none;
    }
    100% {
      transform: translateX(800%);
      opacity: 0;
      pointer-events: none;
    }
}

.close {
    left: 50%;
    bottom: 20%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

/* language resume */
.opcionModal {
    background-color: white;
    position: absolute;
    left: 80px;
    top: 60px;
    box-shadow: 0px 3px 5px 0px rgb(0 0 0 / 35%);
    border-radius: 5px;
}

.opcion {
    padding: 8px 10px;
    cursor: pointer;
    background-clip: padding-box;
}

.opcion:hover {
    background-color: var(--grayLight);
}

hr {
    margin: 0;
}
  
.esconder {
    visibility: hidden;
}

.code {
    bottom: 20px;
    right: 40px;
    width: 35px;
}

.divEnd {
    width: 120px;
    height: 50px;
    justify-content: end;
    display: flex;
    left: -30%;
    position: absolute;
    top: 0;
}


/* Estilos para pantallas más pequeñas */
@media (max-width: 768px) {
    .icons {
        max-width: 600px;
        min-height: 500px;
        left: 65%;
    }

    .icons div div img {
        width: 100%;
    }

    .icons div:nth-child(1) div:nth-child(1) img{
        width: 100%;
    }

    .col {
        max-height: 80px !important;
        min-width: 200px;
    }

    #word {
        font-size: 14px;
    }

    .code {
        width: 25px;
    }

    #avatar {
        width: 40%;
    }

    #wordSection {
        left: 35%;
    }

    .opcionModal {
        left: 70%;
        top: 0;
    }

    .close {
        bottom: 15%;
    }


}