<main class="area">
    <section>
        <img class="fadeInAnimation" id="avatar" src="assets/img/avatar_waving.gif" alt="avatar">
        <div class="fadeInAnimation" id="wordSection">
            <div id="word"></div>
        </div>
    </section>
    <section>
        <div class="icons d-flex row justify-content-around">
            <div class="col">
                <div class="cursor-pointer">
                    <img src="assets/img/cv.svg">
                </div>
                <div class="cursor-pointer mt-2 hidden">
                    Resume
                </div>
            </div>
            <div class="col">
                <div class="cursor-pointer">
                    <img src="assets/img/projects.svg">
                </div>
                <div class="cursor-pointer mt-2 hidden">
                    Resume
                </div>
            </div>
            <div class="col">
                <div class="cursor-pointer">
                    <img src="assets/img/linkedin.svg">
                </div>
                <div class="cursor-pointer mt-2 hidden">
                    Resume
                </div>
            </div>
            <div class="col">
                <div class="cursor-pointer">
                    <img src="assets/img/email.svg">
                </div>
                <div class="cursor-pointer mt-2 hidden">
                    Resume
                </div>
            </div>
        </div>
    </section>
    <div class="circles">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</main >