<div class="contenedor">
    <div class="container cursor-pointer" (click)="goTo('cobli')">
        <img src="assets/img/projects/cobli.png">
        <div class="overlay">
            <div class="text">
                Aplicación web para daltónicos
            </div>
        </div>
    </div>
    <div class="container cursor-pointer" (click)="goTo('rains-of-rhodianur')">
        <img src="assets/img/projects/game.png">
        <div class="overlay">
            <div class="text">
                2D Videogame
            </div>
        </div>
    </div>
    <div class="container cursor-pointer" (click)="goTo('mobbler')">
        <img src="assets/img/projects/mobbler.png">
        <div class="overlay">
            <div class="text">
                Diseño de habitaciones 3D
            </div>
        </div>
    </div>
</div>
