<section class="contenedor">
    <div>
        <h1>Rains of Rhodianur</h1>
        <div class="d-flex row justify-content-between mb-2">
            <div class="max-content">
                <p class="paragraph">Videojuego 2D de género metroidvania desarrollado con SFML, C++.
                    Responsable de:
                </p>
                <ul>
                    <li>Diseño del arte: assets (GIMP) y mapas (Tile)</li>
                    <li>Diseño y desarrollo del HUD</li>
                    <li>Diseño y desarrollo de la tienda del juego</li>
                    <li>Movimiento y seguimiento de la cámara</li>
                </ul>
                <a href="https://github.com/lauragh/Rains-of-Rhodianur">Repositorio</a>
            </div>
            <div class="images">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/v_R6IdPCWVY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</section>