@if(!cargaCompleta){
  <div class="absolute center">
    <img src="./assets/img/loader.svg" width="50" alt="">
  </div>
}
@else {
  <section class="absolute clouds justify-between">
    <img src="assets/img/cloud1.svg">
    <img src="assets/img/cloud2.svg">
    <img src="assets/img/cloud3.svg">
    <img src="assets/img/cloud4.svg">
    <img src="assets/img/cloud5.svg">
    <img src="assets/img/cloud6.svg">
    <img src="assets/img/cloud8.svg">
    <img src="assets/img/cloud7.svg">
  </section>

}
<div id="three-container"></div>
